
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/layui/layui.js"></script>
<script src="~/layui/layui.all.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/layui/css/layui.mobile.css" rel="stylesheet" />
<div>
    <form class="layui-form" action="/WangLuChao/AddDepartMent" method="post" id='fm1' lay-filter="example">
        
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="D_Name" placeholder="请输入部门名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" class="layui-btn" lay-submit="/WangLuChao/AddDepartMent" v-on:click='dataSubmit' value="立即提交" />
            </div>
        </div>
    </form>
</div>
<script src="~/layui-v2.4.5/layui/layui.all.js"></script>

