
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>


<div style="margin: 0 auto">
    <form  action="/WangLuChao/AddEmployees" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td style="padding-bottom:30px;"><label class="layui-form-label">姓名:</label></td>
                <td style="padding-left:60px;padding-bottom:30px;"><input type="text" name="E_Name" placeholder="请输入姓名" class="layui-input"></td>
            </tr>
            <tr>
                <td style="padding-bottom:30px;"><label class="layui-form-label">部门:</label></td>
                <td style="padding-left:60px;padding-bottom:30px;">
                    <select id="Select1" name="DepartMentId" class="layui-input" >
                        <option>请选择部门</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:30px;">
                    <label class="layui-form-label">账号:</label>
                </td>
                <td style="padding-left:60px;padding-bottom:30px;">
                    <input type="text" name="E_Account" placeholder="请输入账号" class="layui-input">
                </td>
            <tr>
                <td style="padding-bottom:30px;">
                    <label class="layui-form-label">密码:</label>
                </td>
                <td style="padding-left:60px;padding-bottom:30px;">
                    <input type="password" name="E_Pwd" placeholder="请输入密码" class="layui-input">
                </td>
            </tr>
            <tr>
            <tr>
                <td style="padding-bottom:30px;"><label class="layui-form-label">图片:</label></td>
                <td style="padding-left:60px;padding-bottom:30px;"><input id="File1" type="file" name="E_Img" /></td>
            </tr>
            <tr>
                <td style="padding-bottom:30px;">
                    <label class="layui-form-label">性别:</label>
                </td>
                <td style="padding-left:60px;padding-bottom:30px;">
                    <input type="radio" name="E_Sex" value="男" title="男" checked="">男
                    <input type="radio" name="E_Sex" value="女" title="女">女
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:30px;">
                    <label class="layui-form-label">手机:</label>
                </td>
                <td style="padding-left:60px; padding-bottom:30px;">
                    <input type="text" name="E_Phone" placeholder="请输入手机" class="layui-input">
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="padding-left:60px;padding-bottom:30px;">
                    <input type="submit" class="layui-btn" lay-submit="/WangLuChao/AddEmployees" v-on:click='dataSubmit' value="立即提交" id="gooods" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="~/layui-v2.4.5/layui/layui.all.js"></script>
<script>
    $.ajax({
        url: "/WangLuChao/HHer",
        dataType: "json",
        type: "get",
        success: function (data) {
            $(data).each(function () {
                $("#Select1").append("<option value=" + this.DId + ">" + this.D_Name + "</option>");
            })
        }
    })
</script>


