
@{
    ViewBag.Title = "ShowEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.mobile.css" rel="stylesheet" />
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <td>头像</td>
            <td>姓名</td>
            <td>账号</td>
            <td>部门</td>
            <td>性别</td>
            <td>手机</td>
            <td>状态</td>
        </tr>
    </thead>
    <tbody id="th"></tbody>
</table>
<div id="demo1"></div>
<script>
    $().ready(function () {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/WangLuChao/Show",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    for (var i = 0; i < data.length; i++) {
                        //调用分页
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length
                            , limit: 5
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                               , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                        layui.each(thisData, function (index, item) {
                                            arr.push('<tr><td><img height="40" width="50" src=' + item.E_Img + ' alt=' + item.E_Name + ' /></td><td>' + item.E_Name + '</td><td>' + (item.DepartMentId == 1 ? "清洁部" : "总司令") + '</td><td>' + item.E_Account + '</td><td>' + (item.E_Sex == 0 ? "男" : "女") + '</td><td>' + item.E_Phone + '</td><td>' + (item.E_State == 1 ? "空闲" : "打扫中") + "</td></tr >");
                              });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })
        })
    })

    function ji(EId)
    {
        
    }
</script>

 

