
@{
    ViewBag.Title = "ShowComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.mobile.css" rel="stylesheet" />
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <td>编号</td>
            <td>顾客</td>
            <td>评论内容</td>
            <td>评论时间</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody id="th"></tbody>
</table>
<div id="demo1"></div>
<script>
    $().ready(function () {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/WangLuChao/comment",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    for (var i = 0; i < data.length; i++) {
                        //调用分页
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length
                            , limit: 5
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                               , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item)
                                    {
                                        arr.push('<tr><td>' + item.CoId + '</td><td>' + item.Custom.C_Name + '</td><td>' + item.Details + '</td><td>' + item.C_Time + "<td><button class='layui-btn layui-btn-normal layui-btn-sm' onclick='ji(" + item.CoId+ ")' ><i class='layui-icon'></i>删除信息</button></td></tr >");
                              });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })
        })
    })
    function ji(CoId)
    {
        if (confirm('确认删除吗?'))
        {
            $.ajax({
                url: '/WangLuChao/delcc?CoId=' + CoId,
                dataType: "json",
                type: "get",
                success: function (data)
                {
                    if (data > 0)
                    {
                        alert('ok');
                        // 删除成功后刷新页面
                        window.location.reload();
                    }

                }
            })
        }
    }
</script>

