
@{
    ViewBag.Title = "ShowFinace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.mobile.css" rel="stylesheet" />
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <td>编号</td>
            <td>金额</td>
            <td>创建时间</td>
        </tr>
    </thead>
    <tbody id="th"></tbody>
</table>
<div id="demo1"></div>
<script>
    $().ready(function () {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/WangLuChao/finace",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    for (var i = 0; i < data.length; i++) {
                        //调用分页
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length
                            , limit: 5
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                                        , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item) {
                                        arr.push('<tr><td>' + item.FId + '</td><td>' + item.Money + '</td><td>' + item.CreateTime + '</td></tr >');
                                    });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })
        })
    })
</script>


