
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>活动起来</title>
</head>
<body>
    <div>
        <script src="~/chao/html5-canvas-crystal-ball/js/index.js"></script>
        <script src="~/chao/html5-canvas-crystal-ball/js/regl.min.js"></script>
        <script src="~/chao/html5-canvas-crystal-ball/js/JavaScript.js"></script>

    </div>
    <h2>谁开的房间</h2>
</body>
</html>
