
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CeShi</title>
</head>
<body>
    <table><tr><td><input type="radio" name="JinE" value="50" />50元</td><td><input type="radio" name="JinE" value="100" />100元</td><td><input type="radio" name="JinE" value="150" />150元</td></tr><tr><td><input type="radio" name="JinE" value="200" />200元</td><td><input type="radio" name="JinE" value="300" />300元</td><td><input type="radio" name="JinE" value="500" />500元</td></tr>
    <tr><td>请输入充值金额:</td><td><input type="text" name="JinE" /></td><td><input type="button" onclick="BeginCZ()" /></td></tr></table>
</body>
</html>
