
@{
    ViewBag.Title = "ShowHYCustom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset class="layui-elem-field layui-field-title">
    <legend>所有会员列表显示</legend>
    <span style="float:right">
        顾客名称: <input type="text" id="C_Name" />
        手机号: <input type="text" id="C_Cellphone" />
        <input type="button" value="搜索" onclick="Find()" class="layui-btn layui-btn-warm" />
    </span>
</fieldset>
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>手机号</th>
            <th>积分</th>
            <th>金额</th>
            <th>头像</th>
            <th>级别</th>
            <th>所属级别</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="th"></tbody>
</table>
<div id="demo1"></div>
<script>
    $().ready(function () {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/XJW/MethodShow?C_State=1",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    for (var i = 0; i < data.length; i++) {
                        //调用分页
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length
                            , limit: 5
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                                        , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item) {
                                        var str = "";
                                        if (item.C_EndTime <= 50) {
                                            str = "<td style='color:#00FF00' >青铜会员</td>";
                                        }
                                        else if (item.C_EndTime > 50 && item.C_EndTime <= 100) {
                                            str = "<td style='color:yellow' >白银会员</td>";
                                        }
                                        else if (item.C_EndTime > 100 && item.C_EndTime <= 200) {
                                            str = "<td style='color:orange' >黄金会员</td>";
                                        }
                                        else if (item.C_EndTime > 200)
                                        {
                                            str = "<td style='color:red;' >至尊会员</td>";
                                        }
                                        var result = "";
                                        if (item.C_State == 2) {
                                            result = "<td>普通顾客<input type='button' value='加入会员' class='layui-btn layui-btn-normal layui-btn-sm' onclick='JoinHY(" + item.CId + ")' /> </td><td><button class='layui-btn layui-btn-disabled' onclick='CZ(" + item.CId + ")' ><i class='layui-icon'></i>充值</button></td>";
                                        } else {
                                            result = "<td style='color:red;' >会员</td>" + str + "<td><button class='layui-btn layui-btn-normal layui-btn-sm' onclick='CZ(" + item.CId + ")' ><i class='layui-icon'></i>充值</button></td>";
                                        }
                                        arr.push("<tr><td>" + item.CId + "</td><td>" + item.C_Name + "</td><td>" + item.C_Cellphone + "</td><td>" + item.C_EndTime + "</td><td>" + item.integral + "</td><td><img src='" + item.Photo + "' width='50' height='50' class='layui-circle' /></td>" + result + "</tr>");
                                    });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })
        })
    })
    //弹出层
    function CZ(Id) {
        var str = "<table class='layui-table' lay-skin='line' style='line-height:50px;' ><tr><td><input type='button'  value='50元' onclick='BeginCZ(50)' class='layui-btn layui-btn-normal layui-btn-sm' /></td><td><input type='button' value='100元' onclick='BeginCZ(100)' class='layui-btn layui-btn-normal layui-btn-sm' /></td><td style='width:20%' ><input type='button' value='150元' onclick='BeginCZ(150)' class='layui-btn layui-btn-normal layui-btn-sm' /></td></tr><tr><td><input type='button' name='JinE' value='200元' onclick='BeginCZ(200)' class='layui-btn layui-btn-normal layui-btn-sm' /></td><td><input type='button' value='300元' onclick='BeginCZ(300)' class='layui-btn layui-btn-normal layui-btn-sm' /></td><td><input type='button' value='500元' onclick='BeginCZ(500)' class='layui-btn layui-btn-normal layui-btn-sm' /></td></tr>";
        str += "<tr><td>请输入充值金额:</td><td><input type='text' name='JinE' id='JinE' /></td><td><input type='button' class='layui-btn layui-btn-sm layui-btn-normal' value='充值' onclick='BeginCZ2()' /></td><td><input type='hidden' id='CId' value='" + Id + "'/></td></tr></table>";
        layer.open(
            {
                type: 1,
                title: "请选择充值金额/手动输入",
                content: str,
                area: ["500px", "300px"],
            });
    }
    //开始充值  按钮充值
    function BeginCZ(Num) {
        if (window.confirm('确定充值' + Num + '元吗?')) {
            var CId = $("#CId").val();
            location.href = "CZ?C_integral=" + Num + "&CId=" + CId;
        }
    }
    //文本框充值
    function BeginCZ2() {
        var Num = $("#JinE").val();
        if (window.confirm('确定充值' + Num + '元吗？')) {
            var CId = $("#CId").val();
            location.href = "XJW/CZ?C_integral=" + Num + "&CId=" + CId;
        }
    }
    //搜索
    function Find() {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            var C_Name = $("#C_Name").val();
            var C_Cellphone = $("#C_Cellphone").val();
            $.ajax({
                url: "/XJW/MethodShow?C_Name=" + C_Name + "&C_Cellphone=" + C_Cellphone+"&C_State=1",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    for (var i = 0; i < data.length; i++) {
                        //调用分页
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length
                            , limit: 5
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                                        , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item) {
                                        var result = "";
                                        if (item.C_State == 2) {
                                            result = "<td>普通顾客<input type='button' value='加入会员' class='layui-btn layui-btn-normal layui-btn-sm' onclick='JoinHY(" + item.CId + ")' /> </td><td><button class='layui-btn layui-btn-disabled' onclick='CZ(" + item.CId + ")' ><i class='layui-icon'></i>充值</button></td>";
                                        } else {
                                            result = "<td style='color:red;' >会员</td><td><button class='layui-btn layui-btn-normal layui-btn-sm' onclick='CZ(" + item.CId + ")' ><i class='layui-icon'></i>充值</button></td>";
                                        }
                                        arr.push("<tr><td>" + item.CId + "</td><td>" + item.C_Name + "</td><td>" + item.C_Cellphone + "</td><td>" + item.C_EndTime + "</td><td>" + item.integral + "</td><td><img src='" + item.Photo + "' width='50' height='50' class='layui-circle' /></td>" + result + "</tr>");
                                    });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })
        })
    }
</script>