
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuanYu</title>
</head>
<body>
    <div class="yxj_con" style="padding-bottom:60px; width:1008px; margin:0 auto;border:1px solid;height:500px;margin-top:50px">

        <div class="lxwm_m" style="  width:994px;">
            <h1 style="font-size:24px; width:940px; height:46px; line-height:10px; font-weight:bold; margin:20px auto; border-bottom:1px solid #b0b0b0;">
                <p style="float:left;">追忆电影股份有限公司</p>
            </h1>
            <div class="lxwm_la" style="font-size:14px; color:#8a8a8a; line-height:36px; width:480px; float:left; margin-left:30px;">

                公司地址： 上海市奉贤区五四公路3389号(海湾国家森林公园旁)<br>电话： 400-080-6060<br><br>影院项目：010-85587031<br>大客户及团体票采买：010-85587872<br>品牌营销：010-85587632<br>品牌咨询认证：010-85587585<br>电子商务：010-85587578<br>映前贴片广告咨询：010-85235008-8089

            </div>
            <img src="~/image/GU(G47{I}IMD6MZT@T[0B96.png" width="442" height="322" style="border:none;vertical-align:top;float:left">
        </div> 

        <div style="margin-top:410px;margin-left:70px">
            <h2 style="font-style:oblique">总有一天,我们会忘记所有,但曾经经历的一切依然会如同电影不自觉地浮现在脑海</h2>
        </div>
    </div>



    <div class="foot" style="height:74px;background-color:#005bac;margin-top:50px">
        <div class="foota" style="width:850px; height:74px; text-align:center; background:url(y_wqipz_03.jpg) no-repeat top; margin:0 auto;">
            <ul style="padding-left:210px; list-style:none">
                <li style=" line-height:34px;float:left; padding:0 16px 0 15px; background:url(y_wplmz_03.png) no-repeat right;"><a style=" color:#b1d0f6;">联系我们</a></li>
                <li style=" line-height:34px;float:left; padding:0 16px 0 15px; background:url(y_wplmz_03.png) no-repeat right;"><a style=" color:#b1d0f6;">人才招聘</a></li>
                <li style="background:none; line-height:34px;float:left; padding:0 16px 0 15px;" ><a style=" color:#b1d0f6;">法律声明</a></li>
            </ul>
            <div >
                <div style="float:left;color: #d5d5d5;margin-top:13px;">追忆电影股份有限公司 - © 2019-2020 ZHUIYI 版权所有 </div>
                <div style="float:left;margin-left:10px;margin-top:13px;">
                    <script type="text/javascript"></script><div><img src="http://www.hbwj.gov.cn:80/hbwjww/images/govIcon.gif" width="20" height="20" title="河北网监电子标识" alt="河北网监电子标识" border="0"></a></div>
                </div>
                <div style="float:left;color: #d5d5d5;margin-left:10px;margin-top:13px;">沪ICP备13013593 </div>
                <div style="float:left;color: #d5d5d5;margin-top:13px;"><a  style="color:#d5d5d5;">京公网安备 11010502032761号</a></div>
            </div>
        </div>
    </div>
</body>
</html>


