
@{
    ViewBag.Title = "ShowOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th>订单编号</th>
            <th>购买者</th>
            <th>电影名称</th>
            <th>影厅名称</th>
            <th>开始时间</th>
            <th>手机号</th>
            <th>金额</th>
            <th>订单状态</th>
        </tr>
    </thead>
    <tbody id="th"></tbody>
</table>
<div id="demo1"></div>
<script>
    $().ready(function () {
        layui.use(['laypage'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/LmqMVC/ShowOrderMethod",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    //总页数大于页码总数
                    for (var i = 0; i < data.length; i++) {
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length//数据总数
                            , limit: 3
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                                        , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item) {
                                        var str = "";
                                        if (item.O_State == 1) {
                                            str = "<td>已处理</td>";
                                        }
                                        else if (item.O_State == 2)
                                        {
                                            str = "<td>未处理 <input type='button' class='layui-btn layui-btn-radius layui-btn-normal' value='处理' onclick='Dispose(" + item.OId + ")'/></td>";
                                        }
                                        var page = "";
                                        page += "<tr>";
                                        page += "<td>" + item.OId + "</td>";
                                        page += "<td>" + item.CName + "</td>";
                                        page += "<td>" + item.MName + "</td>";
                                        page += "<td>" + item.HName + "</td>";
                                        page += "<td>" + item.BeginTime+ "</td>";
                                        //page += "<td>" + item.SessionS.MovieHall.Seat.Number + "</td>";
                                        page += "<td>" + item.Phone + "</td>";
                                        page += "<td>" + item.O_Money + "</td>";
                                        page += str;
                                        page += "</tr>";
                                        arr.push(page);
                                    });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })

        });
    });
    function Dispose(oid) {
        location.href = "/LmqMVC/DisposeOrder?Oid=" + oid;
    }
</script>
