
@{
    ViewBag.Title = "ShowMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th>编号</th>
            <th>影片名称</th>
            <th>图片</th>
            <th>评分</th>
            <th>状态</th>
            <th>单价</th>
            <th>剧情介绍</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="th"></tbody>
</table>
<div id="demo1"></div>
<script>
    $().ready(function () {
        layui.use(['laypage'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/LmqMVC/ShowMovieMethod",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    //总页数大于页码总数
                    for (var i = 0; i < data.length; i++) {
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length//数据总数
                            , limit: 3
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                                        , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item) {
                                        var jia = "";
                                        if (item.M_State == 1) {
                                            jia = "<td>上架<input type='button' value='下架' class='layui-btn layui-btn-radius layui-btn-normal' onclick='DownJia(" + item.MId + ")' /></td>";
                                        }
                                        else if (item.M_State == 2){
                                            jia = "<td>下架<input type='button' value='上架' class='layui-btn layui-btn-radius layui-btn-normal' onclick='UpJia(" + item.MId + ")' /></td>";
                                        }
                                        var page = "";
                                        page += "<tr>";
                                        page += "<td>" + item.MId + "</td>";
                                        page += "<td>" + item.M_Name + "</td>";
                                        page += "<td><img src='" + item.M_Img + "' alt='' style='width:50px;height:50px;' /></td>";
                                        page += "<td>" + item.M_Grade + "</td>";
                                        page += jia;
                                        page += "<td>" + item.M_Price + "</td>";
                                        page += "<td>" + item.M_Plot + "</td>";
                                        page += "<td><input id='Button1' type='button' class='layui-btn layui-btn-warm layui-btn-radius' value='详情' onclick=\"location.href='/LmqMVC/ShowMovieById?Id=" + item.MId + "'\"/></td>";
                                        arr.push(page);
                                    });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })
        });
    });
    //下架
    function DownJia(mid) {
        if (confirm("确定下架该影片?"))
        {
            location.href = "/LmqMVC/Down?MId=" + mid;
        }
    };
    //上架
    function UpJia(mid) {
        if (confirm("确定上架该影片?"))
        {
            location.href = "/LmqMVC/Up?MId=" + mid;
        }
    };
</script>

