
@{
    ViewBag.Title = "ShowSessionS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input id="Button1" type="button" value="添加场次" class="btn btn-info" onclick="location.href = '/LmqMVC/AddSessionS';" />
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th>场次编号</th>
            <th>电影名称</th>
            <th>放映厅名称</th>
            <th>开始时间</th>
        </tr>
    </thead>
    <tbody id="th"></tbody>
</table>

<div id="demo1"></div>

<script>
    $().ready(function () {   
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/LmqMVC/ShowSessionSMethod",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    //总页数大于页码总数
                    for (var i = 0; i < data.length; i++) {
                        laypage.render({
                            elem: 'demo1'
                            , count: data.length//数据总数
                            , limit: 3
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {
                                    var arr = []
                                        , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item) {
                                        arr.push("<tr><td>" + item.SId + "</td><td>" + item.Movie.M_Name + "</td><td>" + item.MovieHall.H_Name + "</td><td>" + item.S_BeginTime + "</td><td>" + item.S_EndTime + "</td></tr >");
                                    });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })
        });
    });
    function FindBeginEndTime()
    {
        $.ajax({
            url: "/LmqMVC/ShowMovieHallMethod",
            type: "get",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.Length; i++) {
                    if (data[i].S_BeginTime == NowTime) {
                        ChangeMovieHallStatus2(data[i].MovieHall.HId);
                    }
                    if (data[i].S_EndTime == NowTime) {
                        ChangeMovieHallStatus3(data[i].MovieHall.HId);
                    }
                }
            }
        })
    }
    setInterval(function () {
        var NowTime = $("#time").html();
        $.ajax({
            url: "/LmqMVC/ShowMovieHallMethod",
            type: "get",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.Length; i++) {
                    if (data[i].S_BeginTime == NowTime)
                    {
                        ChangeMovieHallStatus2(data[i].MovieHall.HId);
                    }
                    if (data[i].S_EndTime == NowTime)
                    {
                        ChangeMovieHallStatus3(data[i].MovieHall.HId);
                    }
                }
            }
        })
    }, 1000);
    //场次开始时  将放映厅的状态改为放映中
    function ChangeMovieHallStatus2(HId)
    {
        location.href = "/XJW/UpdOn_Time?HId=" + HId;
    }
</script>

